body {
  margin: 0;
  font-family: myfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("background.jpg");
  background-size:cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: myfont;
  src: url("./NeuropoliticalLight.ttf");
}

html { height: 100%; overflow:auto; }
body { height: 100%; }
