
.hover-it{
	color:white;
}

.hover-it:hover{
	color: #ff6700ff;
}

.fixed-itresse{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}



@media screen and (max-width: 30em)  {
	.dn-s{
		display: none;
	}
}